bin/
gen/
.settings/
proguard/
.project
*.iml

#idea 
.idea/
out/
proguard_logs/
build-log.xml
build.log

#ant
local.properties
*~
libs/META-INF/

adb_connect.sh
.DS_Store

#################
## Eclipse
#################

bin/
gen/
build/
*~
out/
projectFilesBackup
#.idea/*
#!.idea/libraries
#!.idea/libraries/
#!.idea/libraries/*
.idea/workspace.xml
.idea/copyright/
lint.xml
.idea/artifacts/
.svn/
.gradle/

#Node js
node_modules/
npm-debug.log
